name: Run Gradle on PRs
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 8, 11 ]
    name: Build with Java ${{ matrix.java }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      - uses: eskatos/gradle-command-action@v1
        with:
          arguments: build shadowJar --scan
      - uses: actions/upload-artifact@v2
        with:
          name: BurpJDSer-ng (Java ${{ matrix.java }})
          path: build/libs/*-all.jar
